<mat-toolbar color="warn">
    <h1>Searching content at id={{id.value}}</h1>
</mat-toolbar>

<div class="input ">
    <mat-form-field floatLabel="always" appearance="fill">
        <mat-label > Enter Id here :</mat-label>
        <input matInput  placeholder="id" #id>
    </mat-form-field>
   
    <button  mat-raised-button color="primary" 
    matTooltip="Show content at specific ID"
    (click)="show(id.value)">Show Content</button>
</div>

<app-content-card class="oneContent" [hobbies]="oneContent"></app-content-card>

<app-modify-content-component (newHobbyEvent)="addHobbyToList($event)" ></app-modify-content-component>
<!-- Enter the title:  <input #title> 
<button (click)="findTitle(title.value)">Submit </button>
<h2 class="header">{{outPut}}</h2> -->
<mat-toolbar color="warn" >
    <h1>First loop with no type passed </h1>
</mat-toolbar>


<app-content-card  class="noType " *ngFor=' let item of contentArray|filterArrayPipe; index as i; first as isFirst ' [hobbies]=item [class.is-first]="isFirst"  ></app-content-card>
<mat-toolbar color="warn">
    <h1>Second loop with "sport" type passed </h1>
</mat-toolbar>

<app-content-card class="sportType" *ngFor=' let item of contentArray|filterArrayPipe:"sport"; index as i' [hobbies]=item  ></app-content-card>
<mat-toolbar color="warn">
    <h1>Third loop with "beaury and self care" type passed </h1>
</mat-toolbar>

<app-content-card class="careType"  *ngFor=' let item of contentArray|filterArrayPipe:"beaury and self care"; index as i' [hobbies]=item  ></app-content-card>