<app-modify-content-component (newHobbyEvent)="addHobbyToList($event)" ></app-modify-content-component>
<!-- Enter the title:  <input #title> 
<button (click)="findTitle(title.value)">Submit </button>
<h2 class="header">{{outPut}}</h2> -->

<h1>First loop with no type passed </h1>

<app-content-card  class="noType " *ngFor=' let item of contentArray|filterArrayPipe; index as i; first as isFirst ' [hobbies]=item [class.is-first]="isFirst"  ></app-content-card>
<h1>Second loop with "sport" type passed </h1>
<app-content-card class="sportType" *ngFor=' let item of contentArray|filterArrayPipe:"sport"; index as i' [hobbies]=item  ></app-content-card>
<h1>Third loop with "beaury and self care" type passed </h1>
<app-content-card class="careType"  *ngFor=' let item of contentArray|filterArrayPipe:"beaury and self care"; index as i' [hobbies]=item  ></app-content-card>